
{% extends 'livraria/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form flex-sb flex-w" method="POST" autocomplete="off" action="{% url 'login' %}">
					{% csrf_token %}
					<span class="login100-form-title p-b-53">
						Entrar no site
					</span>
					<div class="login100-form">
						<div class="textRegisterForm">
						{{form|crispy}}
						<a href="{% url 'password_reset' %}" class="p-t-13 p-b-9">
							<i class="fa fa-key  fa-fw fa-2x" aria-hidden="true"></i>
							Esqueceu a senha?
						</a>
						</div>
					</div>
					<div class="container-login100-form-btn m-t-17 p-t-10">
						<button class="login100-form-btn " type="submit">
							Entrar
						</button>
	
					</div>
					<div>
					<div class="w-full  p-t-55">
						<span class="login100-form-register-now">
							Não tem cadastro ?
							<a href="{% url 'livraria:registeruser' %}" class="p-t-13 p-b-9">
								Entre aqui para criar uma conta
							</a>
						</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	

{% endblock %}
