{% extends 'livraria/base.html' %}

{% block content %}




<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <div class="container-login100-form-btn m-t-17">
              <div class="textRegisterUser">
                <h1>Senha redefinida com sucesso</h1>
                  <p class="fs-19">Sua senha foi redefinida. Clique no botão abaixa para entrar no site</p>

                  <a href="{% url 'login' %}">
                     <button class="login100-form-btn ">
                            Entrar
                     </button>
                  </a>
                  <div class="p-t-10"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
{% endblock %}
