{% extends 'livraria/base.html' %}
{% load static %}
{% block content %}

<div class="limiter">
  <div class="container-login100">
      <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
          <div class="container-login100-form-btn m-t-17">
            <div class="textRegisterUser">
              <h1>Verifique seu e-mail</h1>
                <p class="fs-19">Enviamos por e-mail as instruções para definir sua senha. Você deve receber o e-mail com as instruções em breve!</p>
              </div>
          </div>
      </div>
  </div>
</div>




{% endblock %}
