<!DOCTYPE html>
{% load static %}
{% load sweetify %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Estilos da base -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <!--Estilos do footer -->
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    
    <!--Estilos-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util_FS_P_M.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
</head>




<header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand fs-30" href="/">Livraria</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class = "collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item active p-t-5">
            <a class="fs-15 text-white p-t-6 linkblog"nav-link href="{% url 'blog:post_list' %}">Conheça nosso blog
            <span class="material-icons p-t-1">article</span>
          </a>
          </li>
          {% if user.is_authenticated %}
             <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle fs-15 text-white" data-toggle="dropdown">Serviços</a>
                    <div class="dropdown-menu">
                      <div class="dropdown-header">Listagem</div>
                      <a href="{% url 'livraria:listarlivros' %}" class="dropdown-item">Livros</a>

                
                      <a href="{% url 'livraria:listaremprestimos' %}" class="dropdown-item">Empréstimos</a>
                     
                      <div class="dropdown-header">Cadastros</div>
                      <a href="{% url 'livraria:cadastrarlivro' %}" class="dropdown-item">Livro</a>

                      <a href="{% url 'livraria:cadastrareditora' %}" class="dropdown-item">Editora</a>

                      <a href="{% url 'livraria:cadastrarautor' %}" class="dropdown-item">Autor</a>
 
                    </div>
                </li>
           
            <li class="nav-item dropdown p-r-30">
              <a href="#" class="nav-link dropdown-toggle fs-15 text-white " data-toggle="dropdown">Seja bem vindo, {{ user.first_name }} {{user.last_name}}</a>
              <div class="dropdown-menu">
                <a href="{% url 'livraria:profileuser' %}" class="dropdown-item">Minha conta</a>
              </div>
          </li>



            <li class="nav-item">
                <a href="{% url 'logout' %}">
                <button type="button"  class="btn btn-primary btn-sm">
                    <span class="material-icons">input</span>
                    Sair
                 </button>
                </a>
            </li>

            {% else %}
             <a href="{% url 'login' %}" class="top-menu"><span class="material-icons p-t-6 ">lock</span></a>
            {% endif %} 
        </ul>
      </div>
    </div>
      </nav>
  </nav>
</header>
<body style="background-image: url({% static 'images/background_login.jpg' %})">
    {% block content %}
    {% endblock %}
</body>
  

<div class="mt-5 pt-4 pb-5 footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
  
          <div class="card-body">
          <h5 class="card-title text-white display-4 fs-30">Redes Sociais</h5>
          <p class="text-white fs-20">Conheça nossos trabalhos através de nossas redes sociais :D </p>
      
              <a class="text-light" href="https://pt-br.facebook.com/"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>
            
              <a class="text-light" href="https://twitter.com/login?lang=pt"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>
            
              <a class="text-light" href="https://www.instagram.com/?hl=pt-br"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
            
              <a class="text-light" href="https://br.linkedin.com/"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
            
  
        </div>
       </div>	
  
      
      
       <div class="col-lg-3 col-xs-12 links">
          <ul class="m-0 p-0">
          </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4 ">Local</h4>
        <p class="text-white p-t-13 p-b-9 fs-20">00, Lorem ipsum dolor, consectetur adipiscing</p>
        <p class="mb-0 text-white fs-20"><i class="fa fa-phone mr-3"></i>(00) 000-000</p>
        <p class="text-white fs-20"><i class="fa fa-envelope-o mr-3 text-white"></i>info@livraria.com</p>
      </div>
    </div>

    <div class="row mt-6">
      <div class="col copyright">
        <p class="text-white fs-20"><small class="text-white">&copy; {% now 'Y' %}</small></p>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.15.1/d3.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- 
<script src='https://unpkg.com/sweetalert2@7.12.15/dist/sweetalert2.all.js'></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
-->
</html>