{% extends 'livraria/base.html' %}
{% load static %}

{% block content %}

<div class="limiter ">
 <div class="container " >
  <div class="jumbotron jumbotron-fluid " id="jumbotron">
    <div class="container">
      <h1 class="display-4  textoTituloJumbotron" id="textoTituloJumbotron">Bem vindo a Livraria</h1>
      <p class="lead text-white ">    “Há livros escritos para evitar espaços vazios na estante.” - Carlos Drummond de Andrade</p>
    </div>
  </div>
  <div class="row">


    {% for livro in livros %}
    <!-- 
    <div class="col-md4">
      -->


    {% if livro.estoque > 0 %}
    <div id="EspacoCard"> </div>
      <div class="card mb-3   text-white bg-dark p-l-1" >
    
        <div class="card-body text-white textRegisterForm">
          <h5 class="card-title text-white">Nome do livro: {{livro.nome}}</h5>
          <p class="card-text text-white textRegisterForm fs-12">Autor: {{livro.autor.nome}}</p>
          <p class="card-text text-white textRegisterForm fs-12">Editora: {{livro.editora.nome}}</p>
          <p class="card-text text-white textRegisterForm fs-12">Descrição: {{livro.descricao}}</p>
        </div>
        <ul class="list-group">
          <div class="textRegisterForm fs-14">
          <li class="list-group-item  border border-dark" id="textoCard">Categoria: {{livro.categoria.nome}}</li>
          <li class="list-group-item  border border-dark" id="textoCard">Número de páginas: {{livro.num_paginas}}</li>
          <li class="list-group-item  border border-dark" id="textoCard">Ano de lançamento: {{livro.ano}}</li>
          <li class="list-group-item  border border-dark" id="textoCard">Preço: {{livro.preco}}</li>
          <li class="list-group-item  border border-dark" id="textoCard">Quantidade disponível: {{livro.estoque}}</li>
          </div>
        </ul>
        <div class="card-body">
          <div class="text-center">
            <a href="{% url 'livraria:emprestarlivro' livro.id %}" class="btn btn-primary text-white">Realizar empréstimo</a>
          </div>
        </div>
    </div>
   
    {% endif %}
    {% endfor %}
 
  </div>
</div>
{% endblock %}