{% extends 'livraria/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            
            {% include 'livraria/message/message.html' %}

            <div class="container-login100-form-btn m-t-17">
                <form class="login100-form validate-form flex-sb flex-w" method="POST" autocomplete="off">
                    <span class="login100-form-title p-b-53">
                      Cadastro de editora
                    </span>
                    {% csrf_token %}
                    <div class="textRegisterForm">
                 
                    {{formEditora.nome|as_crispy_field}}   


                    <p class="textRegisterForm">Endereço</p>

                    {{formEditora.rua|as_crispy_field}}
                    {{formEditora.bairro|as_crispy_field}}
                    {{formEditora.numero|as_crispy_field}}
                    {{formEditora.cidade|as_crispy_field}}
                    {{formEditora.estado|as_crispy_field}}
                    </div>
                    <button class="login100-form-btn  " type="submit">
                        Salvar
                    </button>
                    <div class="p-t-10"></div>
                </form>  
                
            </div>
        </div>
    </div>
  </div>




{% endblock %}