{% extends 'livraria/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">

            {% include 'livraria/message/message.html' %}
            <div class="container-login100-form-btn m-t-17">
                <form class="login100-form validate-form flex-sb flex-w" method="POST" autocomplete="off">
                    <span class="login100-form-title p-b-53">
                      Empréstimo de livro

                      Aviso <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                      <p class="fs-20"> Para realizar o empréstimo, você precisa salvar duas vezes, para ser calculado o valor a pagar</p>

                    </span>
                    {% csrf_token %}
                    <div class="textRegisterForm">
                        <div class="card mb-3 border border-dark">
                            <div class="card-header bg-primary mb-3 text-white">
                              <div class="text-center ">
                                    Livro
                                    
                                </div>
                            </div>
                            <div class="text-center">
                            <div class="card-body">
                                Nome do livro: {{livro.nome}}
                            </div>
                                <ul class="list-group">
                                    <div class="textRegisterForm fs-14">
                                        <li class="list-group-item  border border-dark"  id="textoCard">Categoria: {{livro.categoria.nome}}</li>
                                        <li class="list-group-item  border border-dark"  id="textoCard">Edição: {{livro.edicao}}</li>
                                        <li class="list-group-item  border border-dark"  id="textoCard">Preço: {{livro.preco}}</li>
                                        <li class="list-group-item  border border-dark"  id="textoCard">Quantidade: {{livro.estoque}}</li>
                                    </div>
                                </ul>
                            </div>
                          </div>
                          {{formEmprestimo|crispy}}
                    </div>

                  <div>

                    {% if verificacao_botao_salvar %}

                            <button class="login100-form-btn" type="submit">
                                 Salvar
                            </button>

                            <a class="login100-form-btn btn-warning" href="/">
                                Cancelar
                            </a>                
                    {% else %}
                        <a class="login100-form-btn btn-warning" href="/">
                            Voltar para página inicial
                        </a>
                    {% endif %}

                </div>
                    <div class="p-t-10"></div>
                </form>  
            </div>
        </div>
    </div>
  </div>




{% endblock %}